@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@heroui/styles";

/* bricolage-grotesque-latin-wght-normal */
@font-face {
  font-family: "Bricolage Grotesque Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(0 0 0);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0 0);
  --border: oklch(90% 0 0);
  --danger: oklch(65.32% 0.2328 355.28);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 0);
  --default-foreground: oklch(21.03% 0.0059 0);
  --field-background: oklch(100% 0 0);
  --field-foreground: oklch(21.03% 0 0);
  --field-placeholder: oklch(55.17% 0 0);
  --focus: oklch(0 0 0);
  --foreground: oklch(21.03% 0 0);
  --muted: oklch(55.17% 0 0);
  --overlay: oklch(100% 0 0);
  --overlay-foreground: oklch(21.03% 0 0);
  --scrollbar: oklch(87.1% 0 0);
  --segment: oklch(100% 0 0);
  --segment-foreground: oklch(21.03% 0 0);
  --separator: oklch(92% 0 0);
  --success: oklch(73.29% 0.1935 120.35);
  --success-foreground: oklch(21.03% 0.0059 120.35);
  --surface: oklch(100% 0 0);
  --surface-foreground: oklch(21.03% 0 0);
  --surface-secondary: oklch(95.24% 0 0);
  --surface-secondary-foreground: oklch(21.03% 0 0);
  --surface-tertiary: oklch(93.73% 0 0);
  --surface-tertiary-foreground: oklch(21.03% 0 0);
  --warning: oklch(78.19% 0.1585 41.87);
  --warning-foreground: oklch(21.03% 0.0059 41.87);

  /* Border Radius */
  /* --radius: 0;
  --field-radius: 0; */

  /* Font Family */
  /* Make sure to load Bricolage Grotesque font in your app */
  --font-sans: "Bricolage Grotesque Variable", sans-serif;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(0.9848 0 0);
  --accent-foreground: oklch(15% 0 0);
  --background: oklch(10% 0 0);
  --border: oklch(22% 0 0);
  --danger: oklch(59.4% 0.1967 354.17);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(24% 0 0);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(15% 0 0);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(60% 0 0);
  --focus: oklch(0.9848 0 0);
  --foreground: oklch(97% 0 0);
  --muted: oklch(58% 0 0);
  --overlay: oklch(15% 0 0);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(60% 0 0);
  --segment: oklch(32% 0 0);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(20% 0 0);
  --success: oklch(73.29% 0.1935 120.35);
  --success-foreground: oklch(21.03% 0.0059 120.35);
  --surface: oklch(14% 0 0);
  --surface-foreground: oklch(99.11% 0 0);
  --surface-secondary: oklch(18% 0 0);
  --surface-secondary-foreground: oklch(99.11% 0 0);
  --surface-tertiary: oklch(22% 0 0);
  --surface-tertiary-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1388 45.88);
  --warning-foreground: oklch(21.03% 0.0059 45.88);
}

@layer components {
  .inner {
    @apply mx-auto w-9/10 max-w-272;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply -tracking-wider;
  }
}
